*{
    margin: 0;
    padding: 0;
}

/* Variables */

:root {
    /* Colors */
    --main-color: #CC9426;
    --white-main-color: #EFDFBD;
    --dark-main-color: #80590B;
    --black: #000000F0;
    --accent-lilas: #9112CC;
    --accent-secondary-lilas: #9112CCC7;
    --accent-verde: #204231;

    /* Fonts */
    --ff-styled: 'Tangerine';
    --ff-main: 'Montserrat';
    --ff-formal: 'Cormorant';
    --ff-nav: 'Roboto';

    --fs-nav: 3.609rem;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* General Style */

html {
    scroll-behavior: smooth;
}


/* Styling the navigation part in a general way like logo and the others nav links */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.526rem 0rem 0rem;
    gap: 40.631rem;
}

nav.nav {
    position: absolute;
    width: 91.5rem;
    height: 9.289rem;
    left: 2.5rem;
    top: -0.228rem;
}

/* Giving style to the nav links specifically */
.nav .lista-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 8rem;


    width: 45.106rem;
    height: 3.351rem;
}

/* I don't know yet if i will keep this code below bc i don't see the difference */
.item-lista li{
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* Was just talking about the the code above, that small part */

.item-lista{
    font-family: var(--ff-nav);
    font-size: var(--fs-h3);
    list-style: none;
}

.item-lista a{
    text-decoration: none;
    color: inherit;
}

/* Starting the hero section */

.hero-section img{
    width: 40.243rem;
    /* height: 35.971rem; */
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 3.597rem;
    margin-left: 6.25rem;
    margin-top: 10.25rem;
    width: 81.458rem;
    height: 35.413rem;
}

.hero-section .hero-item{
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
}

.hero-section .hero-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 4.218rem;
}

.hero-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 4.218rem;
    

    width: 39.868rem;
    height: 35.413rem;
} 

/* Styling the text from the hero Section */
/* Daqui em diante ainda está em px */

.an-cosmetics {
    font-family: var(--ff-styled);
    font-style: normal;
    font-weight: 700;
    font-size: 183.878px;
    line-height: 144px;
    color: var(--main-color);
}

.texto-impacto h3 {
    font-family: var(--ff-main);
    font-style: normal;
    font-weight: 400;
    font-size: 40.5513px;
    line-height: 70px;
    margin-top: 1.5rem;
    color: var(--dark-main-color);
}

/* Stylizando os botões
    Acho que aqui vai pegar fogo
*/

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 57.55px;
    /* width: 797.89px; */
}

.prymary-button {
    
}



















